<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather Forecast</title>
  <style>
    
    * {
      padding: 0;
      box-sizing: border-box;
    }

    html {
      height: 100%;
    }

    body {
      display: flex;
      flex-direction: column;
      min-height: 98%;
    }

    main {
      flex-grow: 1;
    }
      
    body {
      font-family: sans-serif;
      font-size: 16px;
      line-height: 1.5;
      background-color: #f2f2f2;
      padding: 0 10px;
    }
    
    h1 {
      font-size: 32px;
      margin-bottom: 20px;
      text-align: center;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .form-group label {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .input-group {
      display: flex;
      flex-direction: row;
    }

    .input-group input[type="text"] {
      font-size: 20px;
      padding: 10px;
      flex-grow: 1;
      border-radius: 4px;
      border: none;
      margin-right: 10px;
    }

    .input-group button[type="submit"] {
      font-size: 20px;
      padding: 10px 20px;
      background-color: #0077cc;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    
    form {
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      width: 100%;
    }
    
    label {
      font-size: 20px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    
    input[type="text"] {
      font-size: 20px;
      padding: 10px;
      flex-grow: 1;
      border-radius: 4px;
      border: none;
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    button[type="submit"] {
      font-size: 20px;
      padding: 10px 20px;
      background-color: #0077cc;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-family: "Trirong", serif;
    }
    
    button[type="submit"]:hover {
      background-color: #005fa3;
    }
    
    p {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
      color: #444;
    }
    
    #temp {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      color: #0077cc;
      margin-bottom: 10px;
    }
    
    .location {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      text-transform: capitalize;
      color: #444;
    }
    
    /* Media queries */
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 28px;
      }
    }
  </style>
</head>
<body>  
  <header>
    {{> header}}
  </header>
  <h1>Weather Forecast</h1>
  <main>
    {{#if error}}
      <p>{{error}}</p>
    {{else}}
      <p>The temperature in <span id="city">{{city}}</span>, <span id="country">{{country}}</span> is <span id="temp">{{temp}}</span>°C</p>
    {{/if}}
    
    <form action="/weather" method="get">
      <div class="form-group">
        <label for="location">Location:</label>
        <div class="input-group"></div>
        <input type="text" id="location" name="location" placeholder="Enter a city, zip code, or lat,lon" aria-label="Enter a location">
        <button type="submit" aria-label="Get Weather">Get Weather</button>
        </div>
      </div>
    </form>
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
  
    socket.on('weather update', (data) => {
      const { city, country, temp } = data;
      const currentCity = document.querySelector('#city').textContent.toLowerCase();
  
      if (city.toLowerCase() === currentCity) {
        // Update the weather information on the page
        const tempElement = document.querySelector('#temp');
        const cityElement = document.querySelector('#city');
        const countryElement = document.querySelector('#country');
  
        tempElement.textContent = temp;
        cityElement.textContent = city;
        countryElement.textContent = country;
      }
    });
  </script>
  <footer>
    {{> footer}}
  </footer>
</body>
</html>